
<%= link_to "投稿画面へ", "/users/new", ({class:"link"}) %>
<% @users.each do |user| %>
    <div class="wrapper">
        <p class="top2">
        <%= user.name %>
        <%= user.age %>
        <%= link_to "編集" , "users/#{user.id}/edit", method: :get %>
        <%= link_to "削除" , "users/#{user.id}",method: :delete, data:{confirm: "削除しますか？"} %>
        </p>
    </div> 
    
<% end %>